#upload-container{
    padding-top: 36px;
}
#image-box{
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-box > img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
#profile-box{
    padding :16px;
    margin-top: 8px;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    align-items: center;
}
#profile-box > img {
 width: 50px;
 height: 50px;

}

#profile-box >span {
    font-size: 15px;
    margin-left: 8px;
    font-weight: 600;
}

#contents-item{
    padding: 16px;
}
#name{
    font-size: 16px;
    font-weight: 400;
}
#price{
    font-size: 16px;
    font-weight: 600;
}
#createdAt{
    font-size: 12px;
    color: rgb(204, 204, 204);
}
#description{
    margin-top: 16px;
}

.upload-name {
    width: 225px;
}
.upload-label {
    font-size: 18px;
    width: 80px;
}
#product-description{
    height: 150px;
}
#submit-button {
float: right;
background-color: rgb(30, 120, 255);
color: white;
border: none;
margin-top: 16px;
}
#description {
    margin-top: 16px;
    font-size: 16px;
}
#purchase-button {
    margin-top: 8px;
    margin-bottom: 16px;
}